.nav-wrapper {
    margin-top: 0em;
}

img {
    margin: 0em !important;
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;

}

.nav-wrapper {

    margin-left: .5em;
    margin-right: .5em;
}


.no-margin {
    margin: 0em;
    padding: 0em;
}

.container{
    width: 100%;

}

body {
    padding: 1em;
}

.banner {
    width: 100%;
}



